
<div class="main">
    <div>
        <a href="">
            <img class="logo logo-light" alt="logo" src="./assets/logo-light.png">
        </a>
    </div>
    <div class="topBar">

        <div class="userInp">
            <input [(ngModel)]="word" (keyup)="getSuggestion($event)" autocomplete="off" type="text" placeholder="Github Name" name="search"
                id="search">
            <button (click)="showUser()" type="button"><i class="fa fa-search"></i></button>
        </div>
        ​
    </div>

    <div class="results">
        <div class="userUnit">
            <div *ngFor="let item of suggestions | slice:0:5;">

                <div class="hoverable" (click)="showUser2($event)">
                    <p>{{item.login}}</p>
                </div>
            </div>
        </div>
    </div>
    <p *ngIf="noUser">User doesn't exists</p>
</div>